.input {
    margin:40px auto;
    padding:20px;
    width:90%;
    max-width:40rem
}

.input label {
    display:block;
    font-weight:bold;
    margin-bottom: 0.5rem;
   
}

.input input{
    font:inherit;
    display:block;
    width:50%;
    padding:0.15rem;
    margin-bottom: 0.5rem;
}

.input input:focus{
    outline:none;
    border-color:rgb(44, 177, 84)
}